// app global css in SCSS form

@import 'quasar.variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.head {
    width: 100%;
}

a {
    text-decoration: none;
    color: $dark;
}

.q-field--standard .q-field__control:after {
    background: orange;
}

.q-field--highlighted .q-field__label {
    color: orange;
}

.q-layout__section--marginal {
    background-color: #ffffff;
}